<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>

    <div class="container">
        <div id="app"></div>

        @RenderBody()
    </div>

    @Html.AntiForgeryToken()
    <script src="/js/site.min.js"></script>
    
</body>
</html>
